<div class="main-container">
     
<!--
     <div class="container"></div>

     <div class="wrapper">
-->
      
      <div class="fullscreen-bg">
       <video loop muted autoplay poster="" class="fullscreen-bg__video">
           
           <source src="/video/background.mp4" type="video/mp4">
          
       </video>
   </div>

<!--
         
          <h4> Our teams experience within Toronto’s Financial District has set our groups standard, we at Common Goal Personnel understand companies don’t always have the time or resources to consistently hire or train new staff when an employee is on vacation, sick or leave of absences. We formed a concept that allows businesses to contact us when they need office help. What sets us apart from traditional temp agencies is that we have no time requirement. The common goal we share with our clients is the ability to ensure a seamless transition from your staff to ours.</h4>
          
          <h4> Our teams experience within Toronto’s Financial District has set our groups standard, we at Common Goal Personnel understand companies don’t always have the time or resources to consistently hire or train new staff when an employee is on vacation, sick or leave of absences. We formed a concept that allows businesses to contact us when they need office help. What sets us apart from traditional temp agencies is that we have no time requirement. The common goal we share with our clients is the ability to ensure a seamless transition from your staff to ours.</h4>
          
          <h4> Our teams experience within Toronto’s Financial District has set our groups standard, we at Common Goal Personnel understand companies don’t always have the time or resources to consistently hire or train new staff when an employee is on vacation, sick or leave of absences. We formed a concept that allows businesses to contact us when they need office help. What sets us apart from traditional temp agencies is that we have no time requirement. The common goal we share with our clients is the ability to ensure a seamless transition from your staff to ours.</h4>
          
          <h4> Our teams experience within Toronto’s Financial District has set our groups standard, we at Common Goal Personnel understand companies don’t always have the time or resources to consistently hire or train new staff when an employee is on vacation, sick or leave of absences. We formed a concept that allows businesses to contact us when they need office help. What sets us apart from traditional temp agencies is that we have no time requirement. The common goal we share with our clients is the ability to ensure a seamless transition from your staff to ours.</h4>
-->
       

</div>